* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
}

.smallerLogo {
    width: 350px;
}

.smallestLogo {
    width: 200px;
}

a {
    color: rgb(235,230,230);
    text-decoration: none;
    padding: .8em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    place-items: center;
    background-color: rgb(235,230,230);
    padding-top: 1.5em;
}

.overview {
    display: grid;
    width:100%;
    place-items: center;
    padding-top:.75em;
}

.intro {
    display:grid;
    width:100%;
    place-items: center;
}

h1 {
    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

h2 {

    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
    font-size: 28px;
}

h3 {
    display:grid;
    padding-top: .1em;
    padding-bottom: .1em;
    width: 50vw;
    place-items: center;
    border-radius: 10px;
    font-size: 24px;
    border: 1.5px solid #b77d00;
}

.seminarRow {
    display:grid;
    width: 100%;
    grid-template-rows: auto auto auto;
    padding: 1em;
}

.seminarBorder {
    border: solid;
    border-color: #b77d00;
    padding: .5em;
    margin-bottom: 1em;
    clip-path: polygon(100% 0, 100% 9%, 85% 100%, 0 100%, 0 0);
}

p {
    padding: .75em;
    font-weight: bold;
    color: black;
}

li {
    padding-left: .75em;
    padding-right: .75em;
    padding-top:.25em;
    list-style-type: none;
}

i{
    color: rgb(235,230,230);
}

footer {
    background-color: black;
    padding: 1.75em;
    display:grid;
    width:100%;
    place-items: center;
}

.goldBackground {
    background-color: #b77d00;
    color: rgb(235,230,230);
    display: grid;
    width: 100%;
    place-items: center;
}

.font32 {
    font-size: 32px;
}

.font26 {
    font-size: 26px;
    width:65vw;
}

.font24a {
    font-size: 24px;
    width:60vw;
    justify-self: center;
}

.font24b {
    font-size: 24px;
    padding-top: .05em;
}

.font24c {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.font20 {
    font-size: 20px;
    font-weight: bold;
    padding: .25em;
}

.font18 {
    font-size: 18px;
}

.testimonials {
    display:grid;
    place-items: center;
    width:100%;
}

.testimony {
    display:grid;
    place-items: center;
    width:50vw;
    padding-top: .75em;
    padding-bottom: .75em;
}

.gold {
    color: #b77d00;
    font-weight: bold;
}

.clients {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    margin-top: 2em;
}

.quma {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.aboutP {
    display: grid;
    place-items: center;
    padding: 1em;
}

.aboutColumns {
    display:grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-top: 2.5em;
}

.portraitCircle {
    border-radius: 100%;
    width:420px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    border: 24px solid rgba(0,0,0,.05);
    justify-self: start;
}

.contact {
    margin: 2.5em;
    padding: 1.25em;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    border: 1px solid #b77d00;
    border-radius: 20px;

}

.contactInfo {
    display:grid;
    grid-template-rows: auto auto;
    place-items: center;
    width: 100%;

}

.moreInfo {
    color: #b77d00;
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom: .5em;
    padding-top: .25em;
    margin-bottom: .75em;
}

.bold {
    font-weight: bold;
}

.companyList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5em;
}

.italics {
    font-style: italic;
}

.footP {
    color: rgb(235,230,230);
    padding-top: .3em;
    padding-bottom: .1em;
}

.subFooter {
    font-size: 24px;
    width: 70%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.font8 {
    font-size: 10px;
    position: relative; 
    top: -7px;
    right: 3px;
}

@media only screen and (max-width:1520px) {

    nav {
        font-size: 20px;
    }

    .companyList {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .font24b {
        font-size: 22px;
    }

    .testimony {
        width: 55vw;
    }

    h3 {
        width: 55vw;
    }

}

@media only screen and (max-width:1380px) {

    a {
        padding: .6em;
    }

    .font24b {
        font-size: 21px;
    }

    .testimony {
        width: 58vw;
    }

    h3 {
        width: 58vw;
    }

}

@media only screen and (max-width:1320px) {

    .font24b {
        font-size: 20px;
    }

    li {
        font-size: 18px;
    }

    .liContact {
        font-size: 22px;
    }

}

@media only screen and (max-width:1300px) {

    a {
        padding: .5em;
    }

    nav {
        font-size: 18px;
    }

    .portraitCircle {
        width:375px;
        height: 375px;
        border: 20px solid rgba(0,0,0,.05);
    }

    .footP {
        font-size: 22px;
    }

    .font24a {
        font-size: 21px;
    }

    .testimony {
        width: 65vw;
    }

    h3 {
        width: 65vw;
    }

}

@media only screen and (max-width:1250px) {

    .font24b {
        font-size: 19px;
    }

}

@media only screen and (max-width:1225px) {

    .smallerLogo {
        width: 315px;
    }

    nav {
        font-size: 17px;
    }

    .subFooter {
        width: 85%;
    }

    .font24b {
        font-size: 18.5px;
    }

    li {
        font-size: 17.2px;
    }

}

@media only screen and (max-width:1175px) {

    .font24b {
        font-size: 18px;
    }

    .font24a {
        width: 62vw;
        font-size: 20px;
    }

    li {
        font-size: 17px;
    }

    p {
        padding: .6em;
    }

    .portraitCircle {
        border: 18px solid rgba(0,0,0,.05);
    }

    h2 {
        padding-bottom: .45em;
    }

    .aboutP {
        padding-right: .1em;
        padding-left: .6em;
    }

}

@media only screen and (max-width:1125px) {

    .footP {
        font-size: 20px;
    }

    footer {
        padding-bottom: 16px;
    }

    .smallerLogo {
        width: 300px;
    }

    .font24b {
        padding: .2em;
    }

    .font24a {
        padding-right: .2em;
        padding-left: .2em;
    }

    .portraitCircle {
        width: 360px;
        height: 360px;
    }
}

@media only screen and (max-width:1090px) {

    nav {
        padding-left: .3em;
        padding-right: 1.2em;
    }

    .smallerLogo {
        width: 280px;
    }

    .font24b {
        width: 74vw;
    }

    .font24a {
        font-size: 19px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px
    }

    .portraitCircle {
        width: 340px;
        height: 340px;
        border: 20px solid rgba(0,0,0,.05);
    }

    .font24 {
        font-size: 23px;
    }

    .font18 {
        font-size: 17px;
    }
}

@media only screen and (max-width:1060px) {

    nav {
        font-size: 16px;
    }

    .smallerLogo {
        width: 260px;
    }
    
    h1 {
        font-size: 28px;
    }

    .footP {
        font-size: 18px;
    }

    .font24a {        
        font-size: 18px;
    }

    .contact {
        padding: 1em;
    }

    .portraitCircle {
        width:320px;
        height: 320px;
    }

}

@media only screen and (max-width:990px) {

    .smallerLogo {
        width: 240px;
    }

    nav {
        font-size: 15px;
    }

}

@media only screen and (max-width:960px) {

    li {
        font-size: 16px
    }

    .liContact {
        font-size: 20px;
    }

    .aboutColumns {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        place-items: center;
        margin-top: .75em;
    }

    .portraitCircle {
        justify-self: center;
        width: 360px;
        height: 360px;
    }

    .font24a {
        width: 70vw;
    }

    .testimony {
        width: 70vw;
    }

    h3 {
        width: 70vw;
    }

}

@media only screen and (max-width:928px) {

    .smallerLogo {
        width: 220px;
    }

    nav {
        font-size: 14px;
        padding-right: 1em;
    }

    footer {
        padding-bottom: .1em;
    }

    .font24a {
        font-size: 17px;
    }

    .font18 {
        font-size: 17px;
    }

    .font24b {
        font-size: 17px;
    }

    .font20 {
        font-size: 18px;
    }

}

@media only screen and (max-width:900px) {

    li {
        font-size: 15.25px
    }

}

@media only screen and (max-width:860px) {

    li {
        font-size: 15px
    }

    nav {
        padding-right: .9em;
    }

    a {
        padding: .4em;
    }
}

@media only screen and (max-width:840px) {

    nav {
        padding-left: .25em;
    }

    .smallerLogo {
        width: 200px;
    }

    .footP {
        font-size: 17px;
    }

    .font24b {
        width: 75vw;
    }

    .companyList { 
        grid-template-columns: 1fr 1fr;
    }

    li {
        font-size: 16.5px;
        padding-left: 1.25em;
        padding-right: 1.25em;
    }

    .liContact {
        font-size: 18px;
    }

    .font24a {
        font-size: 16px;
    }

    .font18 {
        font-size: 16px;
    }

    .font20 {
        font-size: 17px;
    }

    .font24b {
        width: 78vw;
    }
}

@media only screen and (max-width:820px) {

    nav {
        font-size: 12px;
    }

    h2 {
        font-size: 23px;
    }

    .subFooter {
        width: 90%;
    }

    h1 {
        font-size: 26px;
    }
    
    .font24 {
        font-size: 21px;
    }
}

@media only screen and (max-width:730px) {

    .productOne {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .productImg {
        height: 350px;
    }

    h2 {
        font-size: 22px;
    }

    .footP {
        font-size: 20px;
        padding-top: 8px;
    }

    .smallerLogo {
        width: 315px;
    }

    .cpu {
        display: none;
    }

    .display {
        display:none;
    }

    .mobile {
        display: grid;
        place-items: center;
        padding: .5em .7em .5em .7em;
        margin-right: 1em;
        color: rgb(235,230,230);
        font-size: 24px;
    }

    .mobileFooter {
        display: grid;
        place-items: center;
        color: rgb(235,230,230);
    }

    li {
        font-size: 12px;
        list-style: none;
    }
}

@media only screen and (max-width:650px) {

    .productImg {
        height: 330px;
    }

    p {
        font-size: 17px;
    }
}

@media only screen and (max-width:585px) {

    .mobile {
        margin-right: .6em;
    }

    .productImg {
        height: 320px;
    }

    p {
        font-size: 16px;
    }
}

@media only screen and (max-width:540px) {

    .mobile {
        margin-right: .45em;
    }

    li {
        font-size: 11px;
    }

    .subFooter {
        width: 98%;
    }

    p {
        font-size: 15px;
    }

    footer {
        padding: .7em;
    }
}

@media only screen and (max-width:525px) {

    footer {
        padding: .5em;
    }

    .mobile {
        padding: .5em .3em .5em .3em;
    }

    .footP {
        font-size: 18px;
    }
}

@media only screen and (max-width:500px) {

    main {
        padding-top: 1em;
    }

    .smallerLogo {
        width: 295px;
    }

    .productImg {
        height: 300px;
    }

    p {
        font-size: 14px;
    }

    footer {
        padding-left: .1em;
        padding-right: .1em;
    }
}

@media only screen and (max-width:480px) {

    .mobile {
        padding: .5em 0em .5em 0em;
    }

    li {
        font-size: 10px;
    }

    .footP {
        font-size: 17px;
    }
}

@media only screen and (max-width:455px) {

    .smallerLogo {
        width: 280px;
    }
}

@media only screen and (max-width:440px) {

    p {
        font-size: 13px;
    }

    .display {
        display: block;
    }

    #noClick {
        margin-right: .5em;
    }

    .none {
        display: none;
    }

    li {
        font-size: 11px;
    }

}

@media only screen and (max-width:425px) {

    p {
        font-size: 12px;
    }

}

@media only screen and (max-width:400px) {

    p {
        font-size: 11.5px;
    }
}
