* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235,230,230);
}

nav {
    background-color: black;
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
    margin-bottom: 1.5em;
}

.smallerLogo {
    width: 350px;
}

a {
    color: rgb(235,230,230);
    text-decoration: none;
    font-weight: bold;
    padding: .8em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    place-items: center;
}

.overview {
    display: grid;
    width:100%;
    place-items: center;
    padding-top:.75em;
}

.intro {
    display:grid;
    width:100%;
    place-items: center;
}

h1 {
    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

h2 {

    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
    font-size: 28px;
}

h3 {
    display:grid;
    padding-top: .1em;
    padding-bottom: .1em;
    width: 50vw;
    place-items: center;
    border-radius: 10px;
    font-size: 24px;
    border: 1.5px solid #b77d00;
}

.seminarRow {
    display:grid;
    width: 100%;
    grid-template-rows: auto auto auto;
    padding: 1em;
}

.seminarBorder {
    border: solid;
    border-color: #b77d00;
    padding: .5em;
    margin-bottom: 1em;
    clip-path: polygon(100% 0, 100% 9%, 85% 100%, 0 100%, 0 0);
}

p {
    padding: .75em;
    font-weight: bold;
    color: black;
}

li {
    padding-left: .75em;
    padding-right: .75em;
    padding-top:.25em;
    list-style-type: none;
}

i{
    color: rgb(235,230,230);
}

footer {
    background-color: black;
    padding: 1em;
    display:grid;
    width:100%;
    grid-template-columns: auto auto;
    place-items: center;
}

.goldBackground {
    background-color: #b77d00;
    color: rgb(235,230,230);
    display: grid;
    width: 100%;
    place-items: center;
}

.font32 {
    font-size: 32px;
}

.font26 {
    font-size: 26px;
    width:65vw;
}

.font24a {
    font-size: 24px;
    width:60vw;
    justify-self: center;
}

.font24b {
    font-size: 24px;
    padding-top: .05em;
}

.font24c {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.font20 {
    font-size: 20px;
    font-weight: bold;
    padding: .25em;
}

.font18 {
    font-size: 18px;
}

.testimonials {
    display:grid;
    place-items: center;
    width:100%;
}

.testimony {
    display:grid;
    place-items: center;
    width:50vw;
    padding-top: .75em;
    padding-bottom: .75em;
}

.gold {
    color: #b77d00;
}

.clients {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    margin-top: 2em;
}

.quma {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.aboutP {
    display: grid;
    place-items: center;
    padding: 1em;
}

.aboutColumns {
    display:grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-top: 2.5em;
}

.portraitCircle {
    border-radius: 100%;
    width:420px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    border: 24px solid rgba(0,0,0,.05);
    justify-self: start;
}

.contact {
    margin: 2.5em;
    padding: 1.25em;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    border: 1px solid #b77d00;
    border-radius: 20px;

}

.contactInfo {

    display:grid;
    grid-template-rows: auto auto;
    place-items: center;
    width: 100%;

}

.moreInfo {
    color: #b77d00;
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom: .5em;
    padding-top: .25em;
    margin-bottom: .75em;
}

.bold {
    font-weight: bold;
}

.companyList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5em;

}

.italics {
    font-style: italic;
}
