* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
}

.smallerLogo {
    width: 350px;
}

.smallestLogo {
    width: 200px;
}

a {
    color: rgb(235,230,230);
    text-decoration: none;
    padding: .8em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto auto;
    place-items: center;
    background-color: rgb(235,230,230);
    padding-top: 1.5em;
}

.intro {
    display:grid;
    width:100%;
    place-items: center;
}

h1 {
    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

h2 {

    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
    font-size: 28px;
}

h3 {
    display:grid;
    padding-top: .1em;
    padding-bottom: .1em;
    width: 48vw;
    place-items: center;
    border-radius: 10px;
    font-size: 24px;
    border: 1.5px solid #b77d00;
}

p {
    padding: .75em;
    font-weight: bold;
    color: black;
}

li {
    padding-left: .75em;
    padding-right: .75em;
    padding-top:.25em;
    list-style-type: none;
}

i{
    color: rgb(235,230,230);
}

footer {
    background-color: black;
    padding: 1.75em;
    display:grid;
    width:100%;
    place-items: center;
}

.font24a {
    font-size: 24px;
    width:60vw;
    justify-self: center;
}

.font24b {
    font-size: 24px;
    padding-top: .05em;
}

.font24c {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.font20 {
    font-size: 20px;
    font-weight: bold;
    padding: .25em;
}

.font18 {
    font-size: 18px;
}

.testimonials {
    display:grid;
    place-items: center;
    background-color: black;
    width:100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.testimony {
    display: grid;
    place-items: center;
    width: 50vw;
    padding: .4em;
}

.testimonyDiv {
    background-color: rgb(235,230,230);
    display: grid;
    place-items: start;
    width: 76%;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    margin-bottom: .25em;
    padding-left: .4em;
    margin-left: .4em;
    transition-duration: .6s;
}

.testimonyDiv:hover {
    place-items: end;
    background-color: #b77d00;
    border-radius: 10px;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    padding-right: .2em;
    margin-right: .2em;
    padding-left: 0em;
    margin-left: 0em;
}

.gold {
    color: #b77d00;
    font-weight: bold;
}

.clients {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    margin-top: 2em;
}

.aboutP {
    display: grid;
    place-items: center;
    padding: 1em;
}

.aboutColumns {
    display:grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-top: 2.5em;
}

.portraitCircle {
    border-radius: 100%;
    width:420px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    border: 24px solid rgba(0,0,0,.05);
    justify-self: start;
}

.contact {
    margin: 2.5em;
    padding: 1.25em;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    border: 1px solid #b77d00;
    border-radius: 20px;
    transition-duration: .5s;
}

.contact:hover {
    padding: 2.25em;
}

.contactInfo {
    display:grid;
    grid-template-rows: auto auto;
    place-items: center;
    width: 100%;
}

.moreInfo {
    color: #b77d00;
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom: .5em;
    padding-top: .25em;
    margin-bottom: .75em;
}

.bold {
    font-weight: bold;
}

.companyList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5em;
}

.italics {
    font-style: italic;
}

.footP {
    color: rgb(235,230,230);
    padding-top: .3em;
    padding-bottom: .1em;
}

.subFooter {
    font-size: 24px;
    width: 70%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.font8 {
    font-size: 10px;
    position: relative; 
    top: -7px;
    right: 3px;
}

.mobile {
    display: none;
}

.mobileFooter {
    display: none;
}

@media only screen and (max-width:1522px) {

    nav {
        font-size: 20px;
    }

    .companyList {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .font24b {
        font-size: 22px;
    }

    /* .testimony {
        width: 55vw;
    }

    h3 {
        width: 55vw;
    } */

    .testimonyDiv {
        clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
    }

}

@media only screen and (max-width:1380px) {

    a {
        padding: .6em;
    }

    .font24b {
        font-size: 21px;
        padding: .4em;
    }

    .testimony {
        width: 55vw;
    }

    h3 {
        width: 53vw;
    }

    .testimonyDiv {
        width: 85%;
    }
    
    .testimonyDiv:hover {
        width:85%;
    }

}

@media only screen and (max-width:1320px) {

    .font24b {
        font-size: 20px;
    }

    li {
        font-size: 18px;
    }

    .liContact {
        font-size: 22px;
    }

    nav {
        padding-right: 1.2em;
    }

    a {
        padding: .5em;
    }

    .subFooter {
        width: 80%;
    }

}

@media only screen and (max-width:1300px) {

    nav {
        font-size: 18px;
    }

    .portraitCircle {
        width:375px;
        height: 375px;
        border: 20px solid rgba(0,0,0,.05);
    }

    .footP {
        font-size: 22px;
    }

    .font24a {
        font-size: 21px;
    }

    .testimony {
        width: 58vw;
    }

    h3 {
        width: 55vw;
    }

    .testimonyDiv {
        clip-path: polygon(0 0, 100% 0, 68% 100%, 0 100%);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
    }

}

@media only screen and (max-width:1250px) {

    .font24b {
        font-size: 19px;
    }

}

@media only screen and (max-width:1225px) {

    .smallerLogo {
        width: 315px;
    }

    nav {
        font-size: 17px;
    }

    .subFooter {
        width: 85%;
    }

    .font24b {
        font-size: 18.5px;
    }

    li {
        font-size: 17.2px;
    }

    .testimonyDiv {
        width: 88%;
    }
    
    .testimonyDiv:hover {
        width:88%;
    }

    .testimony {
        width: 62vw;
    }

    h3 {
        width: 60vw;
    }

}

@media only screen and (max-width:1175px) {

    .font24b {
        font-size: 18px;
    }

    .font24a {
        width: 62vw;
        font-size: 20px;
    }

    li {
        font-size: 17px;
    }

    p {
        padding: .6em;
    }

    .portraitCircle {
        border: 18px solid rgba(0,0,0,.05);
    }

    h2 {
        padding-bottom: .45em;
    }

    .aboutP {
        padding-right: .1em;
        padding-left: .6em;
    }

}

@media only screen and (max-width:1125px) {

    .footP {
        font-size: 20px;
    }

    footer {
        padding-bottom: 16px;
    }

    .smallerLogo {
        width: 300px;
    }

    .font24b {
        padding: .2em;
        font-size: 17.5px;
    }

    .font24a {
        padding-right: .2em;
        padding-left: .2em;
    }

    .portraitCircle {
        width: 360px;
        height: 360px;
    }

    .testimonyDiv {
        width: 92%;
    }
    
    .testimonyDiv:hover {
        width:92%;
    }

    .testimony {
        width: 64vw;
    }

    h3 {
        width: 62vw;
    }

    nav {
        padding-left: .4em;
        padding-right: 1.1em;
    }
}

@media only screen and (max-width:1090px) {

    nav {
        padding-left: .25em;
        padding-right: 1em;
        font-size: 16.75px;
    }

    .smallerLogo {
        width: 280px;
    }

    .font24b {
        width: 74vw;
    }

    .font24a {
        font-size: 19px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px
    }

    .font24c {
        font-size: 22.5px;
    }

    .portraitCircle {
        width: 340px;
        height: 340px;
        border: 20px solid rgba(0,0,0,.05);
    }

    .font24 {
        font-size: 23px;
    }

    .font18 {
        font-size: 17px;
    }
}

@media only screen and (max-width:1060px) {

    nav {
        font-size: 15.75px;
    }

    .smallerLogo {
        width: 260px;
    }
    
    h1 {
        font-size: 28px;
    }

    .footP {
        font-size: 18px;
    }

    .font24a {        
        font-size: 18px;
    }

    .contact {
        padding: 1em;
    }

    .portraitCircle {
        width:320px;
        height: 320px;
    }

}

@media only screen and (max-width:990px) {

    .smallerLogo {
        width: 240px;
    }

    nav {
        font-size: 15px;
        padding-right: .9em;
    }

    li {
        font-size: 16.5px
    }

}

@media only screen and (max-width:960px) {

    li {
        font-size: 16px;
        padding-right: .5em;
        padding-left: .5em;
    }

    .liContact {
        font-size: 20px;
    }

    .aboutColumns {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        place-items: center;
        margin-top: .75em;
    }

    .portraitCircle {
        justify-self: center;
        width: 360px;
        height: 360px;
    }

    .font24a {
        width: 70vw;
    }

    .testimony {
        width: 70vw;
    }

    h3 {
        width: 68vw;
    }

    .testimonyDiv {
        clip-path: polygon(0 0, 100% 0, 71% 100%, 0 100%);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 100%);
    }

    .font20 {
        font-size: 18px;
    }

    a {
        padding: .45em;
    }

}

@media only screen and (max-width:928px) {

    .smallerLogo {
        width: 220px;
    }

    nav {
        font-size: 14px;
        padding-right: 1em;
    }

    footer {
        padding-bottom: .1em;
    }

    .font24a {
        font-size: 17px;
    }

    .font18 {
        font-size: 16.5px;
    }

    .font24b {
        font-size: 17px;
    }

}

@media only screen and (max-width:900px) {

    li {
        font-size: 15.25px
    }

    .font18 {
        font-size: 16.25px;
    }

    a {
        padding: .35em;
    }

    .font24b {
        width: 80vw;
    }

    .font24c {
        font-size: 22px;
    }

}

@media only screen and (max-width:860px) {

    li {
        font-size: 15px
    }

    nav {
        padding-right: .72em;
    }

    .testimonyDiv {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width:840px) {

    nav {
        padding-left: .2em;
    }

    .smallerLogo {
        width: 200px;
    }

    .footP {
        font-size: 17px;
    }

    .font24b {
        width: 75vw;
    }

    .companyList { 
        grid-template-columns: 1fr 1fr;
    }

    li {
        font-size: 16.5px;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .liContact {
        font-size: 18px;
    }

    .font24a {
        width: 78vw;
    }

    .font18 {
        font-size: 15.5px;
    }

    .font20 {
        font-size: 17px;
    }

    .font24b {
        width: 78vw;
    }
}

@media only screen and (max-width:820px) {

    nav {
        font-size: 12px;
        padding-right: .7em;
    }

    a {
        padding: .3em;
    }

    h2 {
        font-size: 23px;
    }

    .subFooter {
        width: 94%;
    }

    h1 {
        font-size: 26px;
    }
    
    .font24 {
        font-size: 21px;
    }

    .font24c {
        font-size: 21px;
    }

    .font20 {
        font-size: 16px;
    }

    .font18 {
        font-size: 15px;
        padding: .5em;
    }
}

@media only screen and (max-width:780px) {

    .font18 {
        font-size: 14.5px;
        padding: .5em;
    }

    .font24c {
        font-size: 20px;
    }

    .font20 {
        font-size: 15.4px;
    }
}

@media only screen and (max-width:730px) {

    h2 {
        font-size: 22px;
    }

    .font24b {
        width: 85vw;
    }

    .footP {
        font-size: 20px;
        padding-top: 8px;
    }

    .smallerLogo {
        width: 315px;
    }

    .cpu {
        display: none;
    }

    .display {
        display:none;
    }

    .mobile {
        display: grid;
        place-items: center;
        padding: .5em .7em .5em .7em;
        margin-right: 1em;
        color: rgb(235,230,230);
        font-size: 24px;
    }

    .mobileFooter {
        display: grid;
        place-items: center;
        color: rgb(235,230,230);
    }

    li {
        font-size: 16px;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }

    .navList {
        padding: 0em;
        font-size: 12px;
    }

    .testimonyDiv {
        clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
    }

    .testimony {
        width: 76vw;
    }

    h3 {
        width: 73vw;
    }
}

@media only screen and (max-width:650px) {

    p {
        font-size: 17px;
    }

    .font18 {
        font-size: 14px;
    }

    .font24b {
        font-size: 15.25px;
    }

    li {
        font-size: 14.75px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .font20 {
        font-size: 14.8px;
    }
}

@media only screen and (max-width:625px) {

    .font20 {
        font-size: 14.2px;
        padding-left: 0em;
        padding-right: 0em;
    }

    .clients {
        margin-top: 1.2em;
    }
}

@media only screen and (max-width:590px) {

    .mobile {
        margin-right: .5em;
    }

    p {
        font-size: 16px;
    }

    .font24b {
        font-size: 15px;
        width: 90vw;
    }

    li {
        font-size: 14px;
        padding-left: .8em;
        padding-right: .8em;
    }

    .contact {
        margin: 2em .5em;
    }

    .contact:hover {
        padding: 1.8em;
    }

    .testimonyDiv {
        clip-path: polygon(100% 0%, 92% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 8% 50%, 0 0);
    }

    .testimony {
        width: 81vw;
        padding: .4em .25em;
    }

    h3 {
        width: 80vw;
    }
}

@media only screen and (max-width:545px) {

    .mobile {
        margin-right: .45em;
    }

    li {
        font-size: 13px;
        padding-left: .6em;
        padding-right: .6em;
    }

    .subFooter {
        width: 98%;
    }

    p {
        font-size: 15px;
    }

    footer {
        padding: .7em;
    }

    .font24b {
        font-size: 14px;
    }

    .navList {
        font-size: 11px;
    }

    .testimonyDiv {
        width: 94%;
        clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
        padding-right: 0em;
        padding-left: .5em;
    }

    .testimony {
        width: 86vw;
    }

    h3 {
        width: 84vw;
    }
}

@media only screen and (max-width:530px) {

    footer {
        padding: .5em;
    }

    .mobile {
        padding: .5em .3em .5em .3em;
        margin-right: .05em;
    }

    .footP {
        font-size: 18px;
    }

    .font24b {
        font-size: 13.5px;
    }

    .font24c {
        font-size: 19px;
    }

    .font20 {
        font-size: 13.8px;
    }

    .font18 {
        font-size: 13.5px;
    }
}

@media only screen and (max-width:502px) {

    main {
        padding-top: 1em;
    }

    .smallerLogo {
        width: 295px;
    }

    p {
        font-size: 14px;
    }

    footer {
        padding-left: .1em;
        padding-right: .1em;
    }

    .font24b {
        font-size: 13px;
    }

    li {
        font-size: 12px;
    }

    .contact {
        margin: 1.75em .25em;
    }

    .contact:hover {
        padding: 1.6em;
    }

    .testimonyDiv {
        width: 95%;
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
        padding: 0em;
        margin: .2em 0em;
        place-items: center;
    }
    
    .testimonyDiv:hover {
        clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
        padding: 0em;
        margin: .2em 0em;
        place-items: center;
    }

    .font20 {
        font-size: 13px;
    }

    .font18 {
        font-size: 13px;
    }
}

@media only screen and (max-width:480px) {

    .mobile {
        padding: .5em 0em .5em 0em;
    }

    li {
        font-size: 11.5px;
    }

    .footP {
        font-size: 17px;
    }

    .font24b {
        font-size: 12.5px;
        width: 92vw;
    }

    .navList {
        font-size: 10px;
    }

    .breakline {
        margin-bottom: .55em;
    }

    .aboutP {
        padding-top: .5em;
    }

    .liContact {
        font-size: 16px;
    }

    .font20 {
        font-size: 12.5px;
    }

    .font18 {
        font-size: 12.5px;
    }
}

@media only screen and (max-width:455px) {

    .smallerLogo {
        width: 280px;
    }

    .font20 {
        font-size: 12px;
    }

    .font18 {
        font-size: 12px;
    }

    .font24c {
        font-size: 18px;
    }


}

@media only screen and (max-width:440px) {

    p {
        font-size: 13px;
    }

    .display {
        display: block;
    }

    #noClick {
        margin-right: .5em;
    }

    .none {
        display: none;
    }

    li {
        font-size: 11px;
    }

    .font24b {
        font-size: 12px;
        padding: 0em;
    }

    .navList {
        font-size: 11px;
    }

    .tooLong {
        display: none;
    }
}

@media only screen and (max-width:425px) {

    p {
        font-size: 12px;
    }

    .subFooter {
        width: 100%;
    }

    .font24b {
        font-size: 13px;
        width: 85vw;
    }

    .companyList {
        grid-template-columns: 1fr;
        margin-bottom: .75em;
    }

    li {
        font-size: 12.5px;
    }

    .font24a {
        width: 88vw;
    }

    .contact {
        margin: 1.6em 0em;
        padding: .7em;
    }

    .contact:hover {
        padding: 1.25em;
    }

    .liContact {
        font-size: 15.75px;
    }

}

@media only screen and (max-width:400px) {

    p {
        font-size: 11.5px;
    }

    .font24a {
        font-size: 15px;
    }

    .portraitCircle {
        border-width: 16px;
        width: 340px;
        height: 340px;
    }

    .liContact {
        font-size: 15.5px;
        padding-left: .4em;
        padding-right: .4em;
    }

    .contact {
        padding: .5em;
    }

    .contact:hover {
        padding: 1em;
    }

    .footP {
        font-size: 15px;
    }
    
}

@media only screen and (max-width:375px) {

    .portraitCircle {
        width: 330px;
        height: 330px;
    }

    .aboutP {
        padding-top: 0em;
    }

    .navList {
        font-size: 10px;
    }

    .liContact {
        font-size: 15px;
    }

    .contact:hover {
        padding: .9em;
    }
}

@media only screen and (max-width:355px) {

    .smallerLogo {
        width: 260px;
    }

    .smallestLogo {
        width: 190px;
    }

    .portraitCircle {
        width: 315px;
        height: 315px;
    }
}
