* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235,230,230);
}

nav {
    background-color: rgb(6, 68, 20);
    padding: .25em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto auto auto;
    place-items: center;
}

a {
    text-decoration: none;
    color: rgb(235,230,230);
    font-weight: bold;
    padding: 1.2em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
}

.heading{
    display: grid;
    place-items: center;
}

.services {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

h1 {
    background-color: #b77d00;
    width:100%;
    color: rgb(235,230,230);
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1.5em;
}

h2 {
    background-color: #b77d00;
    width:100%;
    color: rgb(235,230,230);
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1.5em;
}

p {
    padding: .5em;
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(6, 68, 20);
    padding: 1em;
    display:grid;
    width:100%;
    grid-template-columns: auto auto;
    place-items: center;
}

.goldBackground {
    background-color: #b77d00;
    color: rgb(235,230,230);
    display: grid;
    width: 100%;
    place-items: center;
}

.font32 {
    font-size: 32px;
}

.font28 {
    font-size: 28px;
}

.font26 {
    font-size: 26px;
    width:65vw;
}

.font24 {
    font-size: 24px;
    font-weight: bold;
}

.gold {
    color: #b77d00;
    font-weight: bold;
}

li {
    list-style-type: none;
    padding-left:1.5em;
    padding-bottom: .4em;
}

.orange {
    background-color: #F36C3D;
    display: grid;
    place-items:center;
}

.ownItImg {
    padding: .75em;
}

.oshb {
    padding-bottom: .75em;
    height: 300px;
}

.proImg {
    padding-bottom: .75em;
    height: 300px;
}

.selections {
    height: 20vh;
    width: 20vw;
    display: grid;
    place-items: center;
}

.circle {
    clip-path: polygon(25% 15%, 75% 15%, 100% 35%, 100% 70%, 75% 85%, 25% 85%, 0 70%, 0 35%);
    border:solid;
    border-color: #b77d00;
    background-color: #b77d00;
    display: grid;
    place-items: center;
    width:300px;
    margin-top: .5em;
    margin-bottom: .5em;
}