* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    place-items: center;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
    font-weight: bold;
}

.smallerLogo {
    width: 350px;
}

a {
    text-decoration: none;
    color: rgb(235,230,230);
    padding: .8em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    place-items: center;
    background-color: rgb(235,230,230);
}

.width {
    width:85%;
    display: grid;
    place-items: center;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

h1 {
    color: #b77d00;
    padding-top: 1em;
    padding-bottom: .55em;
}

p {
    padding: .5em;
    font-weight: bold;
    font-size: 22px;
}

footer {
    background-color: black;
    padding: 1.5em;
    display:grid;
    width:100%;
    place-items: center;
}

#goldBackground {
    border-radius: 25px;
    border: 1px solid #b77d00;
    color: #b77d00;
    display: grid;
    place-items: center;
    margin-bottom: 2em;
    transition-duration: .5s;
}

#goldBackground:hover {
    color: rgb(235,230,230);
    background-color: #b77d00;
}

.gold {
    color: #b77d00;
    font-weight: bold;
}

.goldA {
    color: #b77d00;
}

.whiteA {
    color: rgb(235,230,230);
}

li {
    list-style-type: none;
}

ul {
    font-size: 20px;
    padding-top: 1em;
}

.twoSquare {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
}

.portraitCircle {
    border-radius: 100%;
    width:420px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    border: 24px solid rgba(0,0,0,.05);
    justify-self: start;
}

.coaching {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width:100%;
}

.coachingText {
    display: grid;
    place-items: center;
    width: 900px;
}

.center {
    display: grid;
    place-items: center;
}

.footP {
    color: rgb(235,230,230);
    padding-top: .75em;
    padding-bottom: .1em;
    font-size: 24px;
}

.subFooter {
    width: 70%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.black {
    color: black;
}