* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235,230,230);
}

nav {
    background-color: rgb(6, 68, 20);
    padding: .25em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto auto auto;
    place-items: center;
}

a {
    color: rgb(235,230,230);
    text-decoration: none;
    font-weight: bold;
    padding: 1.2em;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
}

.intro {
    display:grid;
    width:90%;
    grid-template-columns: 1fr auto;
    place-items: center;
    padding: .75em;
}

.contactInfo {
    display:grid;
    grid-template-rows: auto auto;
    place-items: center;
    width: 90%;
    border:solid;
    border-color: #b77d00;
}

.moreInfo {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    background-color: #b77d00;
    color: rgb(235,230,230);
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1.5em;
}

h2 {
    padding-top: .1em;
    padding-bottom: .2em;
    padding-left: 1.5em;
}

p {
    padding: .5em;
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(6, 68, 20);
    padding: 1em;
    display:grid;
    width:100%;
    grid-template-columns: auto auto;
    place-items: center;
}

.goldBackground {
    background-color: #b77d00;
    color: rgb(235,230,230);
    display: grid;
    width: 100%;
    place-items: center;
}

.font32 {
    font-size: 32px;
}

.font28 {
    font-size: 28px;
}

.font26 {
    font-size: 26px;
    width:65vw;
}

.font24 {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
}

.font20 {
    font-size: 20px;
}

.font18 {
    font-size: 18px;
}

.gold {
    color: #b77d00;
}

.professionalPhoto {
    height: 450px;
}

li {
    list-style-type: none;
    padding-left:1.5em;

}
