* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
}

.smallerLogo {
    width: 350px;
}

a {
    text-decoration: none;
    color: rgb(235,230,230);
    font-weight: bold;
    padding: .8em;
}

.bookA {
    display: grid;
    place-items: center;
}

#qumaLogo {
    justify-self: start;
}

main {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
    background-color: rgb(235,230,230);
    padding-top:1.5em;
    padding-bottom: 1em;
}

.heading{
    display: grid;
    place-items: center;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

h1 {
    color: #b77d00;
    padding-top: .1em;
    padding-bottom: .55em;
}

h2 {
    color: black;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 24px;
}

p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
}

footer {
    background-color: black;
    margin-top:1em;
    padding: 1em;
    display:grid;
    width:100%;
    place-items: center;
}

.gold {
    color: #b77d00;
    font-weight: bold;
}

.productImg {
    padding-bottom: .75em;
    height: 350px;
}

.productOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.books {
    display: grid;
    place-items: center;
}

.footP {
    color: rgb(235,230,230);
    padding-top: .75em;
    padding-bottom: .1em;
    font-size: 24px;
}

.subFooter {
    width: 70%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

@media only screen and (max-width:600px) {

    nav {
        display:grid;
        width:100vw;
        grid-template-rows: auto;
        place-items: center;
    }

    #qumaLogo {
        justify-content: end;
    }

    .smallerLogo {
        width: 350px;
    }

    .cpu {
        display: none;
    }

    .productOne {
        display: grid;
        grid-template-rows: auto auto auto;
        place-items: center;
    }

    .books {
        display: grid;
        place-items: center;
        width: 300px;
        font-size: 50px;
    }
}


