* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100vw;
    place-items: center;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

nav {
    padding-left: .5em;
    padding-right: 1.8em;
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto auto auto auto auto auto auto;
    place-items: center;
    font-size: 23px;
}

.smallerLogo {
    width: 350px;
}

a {
    text-decoration: none;
    padding: .8em;
}

.white {
    color: rgb(235,230,230);
    font-weight: bold;
}

#qumaLogo {
    justify-self: start;
}

main {
    background-color: rgb(235,230,230);
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.overview{
    display: grid;
    place-items: center;
    margin-top: .75gem;
}

.breakline {
    width: 5%;
    height: 3px;
    background-color: #b77d00;
    margin-bottom: 1.5em;
}

.breaklineTwo {
    width: 5%;
    height: 3px;
    background-color: black;
    margin-bottom: 1.5em;
}

h1 {
    color: #b77d00;
    padding-top: 1em;
    padding-bottom: .55em;
}

h2 {
    font-size: 26px;
    color: #b77d00;
    padding-top: 1.25em;
    padding-bottom: .5em;
}

p {
    padding-top: 1.5em;
    font-weight: bold;
    font-size: 22px;
}

.seminarP {
    padding-top:.75em;
    font-size: 20px;
    width: 60%;
}

.padBot {
    padding-bottom: 1.25em;
}

.destinationP {
    padding:0px;
    font-size: 20px;
}

.italics {
    font-style: italic;
}

footer {
    margin-top: 1.25em;
    background-color: black;
    padding: 1em;
    display:grid;
    place-items: center;
    width: 100%
}

#goldBackground {
    border-radius: 25px;
    border: 1px solid #b77d00;
    color: #b77d00;
    display: grid;
    width: 80%;
    place-items: center;
    margin-bottom: 2em;
}

#goldBackground:hover {
    color: rgb(235,230,230);
    background-color: #b77d00;

}

.gold {
    color: #b77d00;
    font-weight: bold;
}

.goldA {
    color: #b77d00;
}

.whiteA {
    color: rgb(235,230,230);
}


li {
    list-style-type: none;
}

ul {
    font-size: 20px;
    padding-top: 1em;
}

.timeFrames {
    padding-top: 1.5em;
    font-size: 22px;
    font-weight: bold;
}

.fourSquare {
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
}

.twoSquare {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
}

.seminarBorder {
    display: grid;
    place-items: center;
}

.portraitCircle {
    border-radius: 100%;
    width:400px;
    height: 400px;
    object-fit: cover;
    object-position: center top;
    border: 24px solid rgba(0,0,0,.05);
}

.coaching {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
}

.coachingText {
    display: grid;
    place-items: center;
}

.footP {
    color: rgb(235,230,230);
    padding-top: .3em;
    padding-bottom: .1em;
    font-size: 24px;
}

.subFooter {
    width: 70%;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.font8 {
    font-size: 10px;
    position: relative; 
    top: -7px;
    right: 3px;
}